<h2><%= @shelter.name %></h2>
<p><%= @shelter.address %></p>
<p><%= "#{@shelter.city}, #{@shelter.state}" %></p>
<p><%= @shelter.zip %></p>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<form action="/shelters/<%= @shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Shelter"/>
</form>
