<div class="pageheader">
<h1><%= "Pending Application" %></h1>
</div>
<div class="show">
<p><%= "Name:#{@application.name}" %></p>
<p><%= "Address:#{@application.address}" %></p>
<p><%= "City:#{@application.city}" %></p>
<p><%= "State:#{@application.state}" %></p>
<p><%= "Zip:#{@application.zip}" %></p>
<p><%= "Phone Number:#{@application.phone_number}" %></p>
<p><%= "Description:#{@application.description}" %></p>
<h4> Pets </h4>
<%= form_tag "/applications/approve" do %>
  <section id="select-pets">
  <% @application.pets.each do |pet| %>
      <% if pet.adoptable? %>
        <%= hidden_field_tag 'applicant_name', @application.name %>
        <%= check_box("applied_pets", "pets", {:multiple => true, id: pet.name}, pet.id, false)%>
        <%= label_tag("pets", pet.name) %><br>
      <% end %>
    <% end %>
  </section>
  <%= submit_tag 'Approve Selected Pets' %>
<% end %>
<%= form_tag "/applications/approve", method: :patch do %>
  <section id="unselect-pets">
  <% @application.pets.each do |pet| %>
      <% if pet.pending_adoption? %>
        <%= hidden_field_tag 'application_id', @application.id %>
        <%= check_box("applied_pets", "pets", {:multiple => true, id: pet.name}, pet.id, false)%>
        <%= label_tag("pets", pet.name) %><br>
      <% end %>
    <% end %>
  </section>
  <%= submit_tag 'Unapprove Selected Pets' %>
<% end %>
