<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="hidden" name="pet[shelter_id]" value="<%= @pet.shelter.id %>">
  <h3>Enter updated information:</h3>
  <input type='text' name='pet[name]' value='<%= @pet.name %>'/><br/>
  <input type='text' name='pet[image_path]' value='<%= @pet.image_path %>'/><br/>
  <input type='text' name='pet[approximate_age]' value='<%= @pet.approximate_age %>'/><br/>
  <input type='text' name='pet[description]' value='<%= @pet.description %>'/><br/>
  <input type='text' name='pet[sex]' value="<%= @pet.sex %>"/><br/>
  <input type='submit' value='Submit'/>
</form>
