<img src="<%= @pet.image_path %>" alt="<%= @pet.name %>" width="200">
<h2>Name: <%= @pet.name %></h2>
<p>Description: <%= @pet.description %></p>
<p>Approximate age: <%= @pet.approximate_age%></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
