<div class="pageheader">
  <h1><%= @pet.name %></h1>
  <h3><%= @pet.description %></h3>
</div>
<div class="show">
<img src="<%= @pet.image_path %>" alt="<%= @pet.name %>" width="400">
<p>Approximate age: <%= @pet.approximate_age%></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
<h5><a href="/pets/<%= @pet.id %>/edit">Update Pet</a></h5>
<% if @pet.adoptable? %>
<h5><a href="/pets/<%= @pet.id %>/delete">Delete Pet</a></h5><br>
<% end %>
<% if session[:favorites] && session[:favorites].include?(@pet.id.to_s) %>
<%= link_to 'Remove from Favorites', "/favorites/#{@pet.id}", :method => :delete %>
<% else %>
<%= link_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %>
<% end %>
<%= link_to "View Applications", "/pets/#{@pet.id}/applications" %>
</div>
