<div class="pageheader">
  <h1><%= @shelter.name %></h1>
  <h3>Number of pets: <%= @shelter_pets.count %></h3>
</div>
<br>
<center>
  <form method="patch" action="/shelters/<%= @shelter.id %>/pets">
    <button type="submit" name="adoptable" value="true" class="link-button">
      See only adoptable pets
    </button>
  </form>
  <form method="patch" action="/shelters/<%= @shelter.id %>/pets">
    <button type="submit" name="adoptable" value="false" class="link-button">
      See only pets pending adoption
    </button>
  </form>
</center>
<br>
<div class="row">
<% @shelter_pets.sort_by {|pet| pet.status}.each do |pet| %>
  <div class="column">
    <img src="<%= pet.image_path %>" alt="<%= pet.name %>" height="200">
    <h2>Name: <a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
    <p>Approximate age: <%= pet.approximate_age%></p>
    <p>Sex: <%= pet.sex%></p>
    <h5><a href="/pets/<%= pet.id %>/edit">Edit</a></h5>
    <h5><a href="/pets/<%= pet.id %>/delete">Delete</a></h5>
    <br><br>
  </div>
<% end %>
</div>
<a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a>
