<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='clearfix'>
      <div class="left-nav" >
        <%= link_to "Pets", controller: "pets" %>
        <%= link_to "Shelters", controller: "shelters" %>
      </div>
      <div class="right-nav">
        <%= link_to "Favorites:#{Favorite.all.count}", controller: "favorites"  %>
      </div>
    </header>
    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
